
@import "../Themes/_colors.scss";
@import "../Helpers/_mixins.scss";
@import "../Helpers/_variables.scss";

/*MISC*/

.main {
	@include abs-positioning(4.45em, 0, 0, 0);

	background: $green-lowOpacity;
	overflow-y: auto;
	z-index: 1;	
}

.main--background {
	@extend .main;
	@include background-image(url("./Themes/whirlpool.png"), 0 0, 125%);

	@include mediaQuery--custom($mq-mobile, 468px) {
		@include background-image(url("./Themes/whirlpool.png"), 0 0, 100%);
	}

	@include mediaQuery--custom(469px, $mq-tablet) {
		@include background-image(url("./Themes/whirlpool.png"), 0 0, 75%);
	}

	@include mediaQuery--tablet {
		@include background-image(url("./Themes/whirlpool.png"), 0 0, 50%);
	}

	@media screen and (min-width: $mq-desktop) {
		@include background-image(url("./Themes/whirlpool.png"), 0 0, 40%);
	}
}

.main--flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
}

.main--flex .main__section {
	max-width: 100%;

	@media screen and (min-width: $mq-tablet) {
		max-width: 50%;
	}

	@media screen and (min-width: $mq-wide) {
		max-width: 33%;
	}
}

.main--flex .main__section.top {
	min-width: 100%;
}

.main--flex .main__wrapper {
	min-width: 100%;
}

.main--full {
	@include abs-positioning(0, 0, 0, 0);
}

.main--sidebar {
	@extend .main;

	@media screen and (min-width: $mq-desktop) {
		@include abs-positioning(4.35em, 0, 0, 14em);
		overflow-y: auto;
	}
}

.main__section {
	@include border-side("bottom", 0.01em solid $teal-medium);

	position: relative;
	margin-bottom: 1em;
}

.main__section.top {
	margin-bottom: 0;
	border-bottom: 0;
}

.main__sectionContent {
	@include border(0.25em dotted $grey-ultraLight, null, 0.25em dotted $grey-ultraLight, null);
	@include margin(2em, auto, 2em, auto);

	position: relative;
	max-width: 95%;
	padding: 1em 0.25em;

	@media screen and (min-width: 480px) {
		padding: 1em 0.5em;
	}

	@media screen and (min-width: $mq-tablet) {
		padding: 1em;
	}

}

.main__sectionDescription {
	@include border-side("left", 0.5em groove $teal);
	@include padding(1em, null, 1em, null);
	@include margin(null, 1em, null, 0.5em);
	font-family: "Quicksand Light";
	line-height: $line-height;

	@media screen and (min-width: 480px) {
		@include margin(null, 1.5em, null, 1em);
	}

	@include mediaQuery--tablet {
		margin: 0 1.5em;
	}

	@media screen and (min-width: $mq-wide) {
		@include margin(null, 2.5em, 1em, 2.5em);
	}

}

.main__sectionDescription--bold {
	@include margin(null, auto, null, auto);

	margin-bottom: 0.75em;
	max-width: 90%;
	font-size: 1.25em;
	font-weight: $bold;
	line-height: $line-height;
	text-align: right;

	@media screen and (min-width: 640px) {
		font-size: 1.35em;
	}
}

.main__sectionDescription-card.last,
.main__sectionDescription-card.first,
.main__sectionDescription-card {
	flex: 1;
	padding: 1em;
	border: 0.05em solid $grey-light;
	border-radius: 0.25em;
	margin-top: 0.75em;
	min-width: 100%;
	background: linear-gradient(to bottom, $black 40%, $grey-dark 100%);
	box-shadow: inset 0 0.125em 1em 0.125em $charcoal,
							0.25em 0.125em 1em 0.125em $grey;
	color: white;


	@media screen and (min-width: 640px) {
		min-width: 48%;
	}
	@media screen and (min-width: 1200px) {
		min-width: 32%;
		margin-left: 0.75em;
	}
}

.main__sectionDescription-card.last {
	margin-left: 0;

	@include mediaQuery--custom(640px, 1200px) {
		margin-left: 0.75em;
	}
}

.main__sectionDescription-card.first {
  margin-left: 0;
}

.main__sectionDescription-card:nth-child(2) {
	@media screen and (min-width: 640px) {
		margin-left: 0.75em;
	}
}

.main__sectionDescription-content {
	line-height: 2em;
}

.main__sectionDescription-card-heading {
	font-size: 1.25em;
	font-weight: $bold;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 0.05em dashed $grey-light;
}

.main__sectionDescription-heading {
	@include margin(0.5em, null, null, 0.75em);

	padding: 0.5em 0.25em;
	font-size: 1.5em;
	font-weight: $bold;
	background: $transparent-05-l;
	border-bottom: 0.25em groove $teal-green-tint; 
	border-radius: 0.125em 0.125em 0 0; 

	@media screen and (min-width: 480px) {
		@include margin(0.5em, null, null, 0.5em);
		padding-left: 0.5em;
	}
}

.main__sectionDescription-title {
	position: relative;
	margin-bottom: 1em;
}

.main__sectionDescription-wrapper {
	@include margin(null, null, 1em, 1em);

	display: flex;
	flex-wrap: wrap;

	@media screen and (min-width: 480px) {
		margin-left: 1.5em;
	}
}

.main__sectionDetails {
	@include padding(1em, 1em, null, 1em);

	position: relative;
	margin-bottom: 0.5em;
	min-height: 4em;
	font-family: "Quicksand Bold";
}

.main__sectionDetails-chapter {
	@include size(min-content);

	position: relative;
	display: flex;
	flex-direction: row;
	margin-bottom: 0.5em;

	@media screen and (min-width: 385px) {
		margin-bottom: 0;
	}
}

.main__sectionDetails-chapter-text {
	@include padding(0.35em, 0.25em, 0.25em, 0.25em);

	flex: 1;
	margin-right: 0.25em;
	background: $teal; 
}

.main__sectionDetails-description {
	display: flex;
	align-items: center;
	font-family: "Quicksand Light";
	font-size: 1.125em;

	@media screen and (min-width: 385px) {
		margin-left: 1em;
	}
}

.main__sectionDetails-description-text {
	margin-right: 0.25em;
	font-weight: $bold;
}

.main__sectionDetails-description-tag {
	@include margin(null, 0.25em, null, 0.25em);
	@include padding(0.25em, 1em, 0.25em, 1.15em);

	font-weight: $bold;
	letter-spacing: 0.125em;
	background: $black;
	border-radius: 0.25em;
	box-shadow: inset 0 0.125em 1em 0.125em $charcoal;
	color: $white;
	text-shadow: 0.05em 0.075em 0.05em $white;

}

.main__sectionDetails-text-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 0.25em;
	min-height: 2em;

	@media screen and (min-width: 385px) {
		flex-direction: row;
		align-items: center;
	}
}

.main__sectionDetails-identifier {
	@include border-side("top", 0.25em solid $black);

	max-width: 4em;
	margin-bottom: 0.45em;
}

.main__sectionHeading {
	@include border-side("bottom", 0.01em solid $grey-ultraLight);

	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 2em 1em;
	box-shadow: inset 0 -0.25em 0.75em $grey-ultraLight;
}

.main__sectionHeading.transparent {
	@extend .main__sectionHeading;

	box-shadow: none;
}

.main__sectionHeading-expander-icon {
	@include size(2.5em);

	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 1em;
	margin-right: auto;
	border: 0.25em double $grey;
	border-radius: 0.25em;
}

.main__sectionHeading-expander-icon:hover {
	box-shadow: 0.15em 0.15em 0.75em $grey;
}

.main__sectionHeading-expander-icon-heading {
	padding: 0.25em;
	font-size: 1.25em;
	color: $transparent-15-l;
	font-family: "Quicksand Bold";
	margin-left: 3em;
}

.main__sectionHeading-icon {
	@include border(0.25em groove $blue-dark, 0.25em groove $blue-dark, null, null);
	@include margin-side("right", 1em);
	@include size(3em);

	position: relative;
	box-shadow: 0.275em -0.125em 0.75em $grey-light;
}

.main__sectionHeading-icon--medium {
	@include border(0.175em groove $teal, 0.175em groove $teal, null, null);
	@include margin(0.25em, 0.25em, null, null);
	@include size(2.5em);
}

.main__sectionHeading-icon--small {
	@include border(0.185em groove $green-neon, 0.185em groove $green-neon, null, null);
	@include margin(0.35em, 0.25em, null, null);
	@include size(2em);
}

.main__sectionHeading-icon--x-small {
	@include border(null, null, 0.15em groove $red, 0.15em groove $red);
	@include margin-side("top", 1.05em);
	@include size(0.75em);
}

.main__sectionHeading-text {
	position: relative;
	flex: 4;
	max-width: 60%;
	margin-left: 1em;
	font-family: "Quicksand Regular";
	font-size: 1.5em;
	line-height: 1.75em;

	@media screen and (min-width: $mq-tablet) {
		font-size: 2em;
	}
}

.main__wrapper {
	@include margin(1em, null, 1em, null);
	@include border-side("top", 0.25em double $grey-ultraLight);

	position: relative;
	max-width: 100%;
	background: $grey-lowOpacity;
	border: 1px solid $grey-ultraLight;
	box-shadow: inset 0 0.25em 0.75em 0.125em $grey-ultraLight, 
							inset 0 0.125em 0.75em 0.05em #ffffff;				

}

.main__wrapper.transparent {
	@include margin(1em, null, 1em, null);

	position: relative;
	max-width: 100%;
	background: none;
	border: 0;
	box-shadow: none;
}

/*include position: fixed and width: 16.25em when menu becomes sticky*/

.main__wrapper--right {
	@extend .main__wrapper;
	@include margin-side("left", 2em);

	height: 100%;
}

.main__pageHeading {
	position: relative;
	margin-bottom: 1em;
	min-height: 10em;
	padding: 0 4em;
	width: 100%;
	background: repeating-linear-gradient(135deg, $black-opaque 4%, $teal-dark 25%, $teal-green-tint 40%, $teal 50%, $transparent 96%);
	box-shadow: 0 0.05em 0.5em 0.05em $grey-light;
}

.column {
	display: flex;
}

