
@import "../Themes/_colors.scss";
@import "../Helpers/_mixins.scss";
@import "../Helpers/_variables.scss";


.accordion {
	@include prefix(transition, 0.1s);

	display: flex;
	align-items: center;
	flex-direction: row;
	margin: auto;
	width: 90%;
	padding: 1em;
	background: $black;
	border: none;
	border-radius: 0.5em;
	box-shadow: 0 0.05em 0.125em 0 $grey-light,
							0 -0.125em 0.25em 0 $grey-light,
							inset 0 0.125em 0.5em 0.125em $grey-dark;
	color: white;
	cursor: pointer;
	outline: none;
	text-align: left;
	font-family: "Quicksand Light"; 
}

.accordion.active {
	@include border-radius(0.5em, 0.5em, 0, 0);
	@extend .accordion;

	background: $teal;
	border-bottom: 0.45em groove $teal-green-tint;
	box-shadow: 0 0.05em 0.5em 0 $grey-light,
							inset 0 0.125em 0.5em 0.125em $teal-medium;
}

.accordion.active > .accordion__expander-icon {
	@include prefix(transform, rotate(-180deg));

	border: 0.25em double $white;
}

.accordion.active > .accordion__expander-icon--no-border {
	border: 0;
}

.accordion.active > .accordion__expander-icon > .arrow--down-white {
	top: -0.15em;
}

.accordion:hover {
	background: $grey-dark;
}

.accordion:hover .accordion__expander-icon {
	border-color: $black-opaque;
}

.accordion.active:hover {
	background: $teal;
	opacity: 0.85;
}

.accordion.active:hover .accordion__expander-icon {
	border-color: $white;
}

.accordion__expander-icon {
	@include prefix(transition, transform 0.3s);

	position: relative;
	min-height: 1.25em;
	min-width: 1.25em;
	padding: 0.5em;
	border: 0.25em double $grey-dark;
	border-radius: 0.25em;
}

.accordion__expander-icon > .arrow--down-white {
	top: -0.15em;
}

.accordion__expander-icon--no-border {
	 border: 0;
}

.accordion__heading {
	flex: 1;
}

.accordion__innerPanel {
	@include padding(0.65em, 1em, 0.65em, 1em);

	display: table-cell;
	min-width: 100%;
	background: $black;
	border: 0.01em solid $transparent;
	border-radius: 0.25em;
	overflow: auto;
}

.accordion__panel {
	@include prefix(transition, all 0.3s ease-in-out);

	position: relative;
	display: none;
	margin: auto;
	max-height: 0;
	width: 90%;
	padding: 0.5em;
	background: $black-opaque;
	color: $white;
	font-family: "Quicksand Light";
	line-height: $line-height;
	overflow: auto;
}

.accordion__panel-text {
	position: relative;
	min-width: 100%;
}

.accordion__panel--left {
	font-size: 0.925em;
	max-width: 100%;
	margin-bottom: 0.5em;
	line-height: $line-height;

	@include mediaQuery--custom(480px, $mq-desktop) {
		float: left;
		font-size: 1em;
		max-width: 50%;
		min-height: auto;
	}
	@include mediaQuery--custom($mq-desktop, 1420px) {
		float: left;
		font-size: 0.9em;
		max-width: 50%;
		min-height: auto;	
	}
	@media screen and (min-width: 1420px) {
		float: left;
		font-size: 1em;
		max-width: 50%;
		min-height: auto;	
	}
}

.accordion__panel--left > .media__image-wrapper--9 {
	margin-bottom: 0.25em;
}

.accordion__panel--right {
	margin-bottom: 0.5em;
	max-width: 100%;

	@media screen and (min-width: 480px) {
		float: right;
		max-width: 50%;
		min-height: auto;
	}
}

.accordion__panelContainer--right {
	@include margin(1em, null, 1em, 0.5em);

	@include mediaQuery--tablet {
		@include margin(1em, 1em, 1em, 0.5em);		
	}

	@include mediaQuery--desktop {
		@include margin(1em, 2em, 1em, 0.5em);		
	}

	@media screen and (min-width: $mq-wide) {
		@include margin(1em, 3em, 1em, 0.5em);
	}
}

.accordion__panelWrapper {
	position: relative;
	padding: 0;
	margin-top: 1.5em;
}

.accordion__row,
.accordion__row--last,
.accordion__row--first {
	@include prefix(background, linear-gradient(to right, $grey-dark 10%, 
																												$grey 40%, 
																												$grey-light 50%, 
																												$grey 60%, 
																												$grey-dark 100%));

	padding: 0.25em 0;
}

.accordion__row--last {
	@include border-radius(null, null, 0.25em, 0.25em);
	@include padding-side("bottom", 1em);
}

.accordion__row--first {
	@include border-radius(0.25em, 0.25em, null, null);
	@include padding-side("top", 1em);
}

.accordion__row.active > .accordion__panel {
	@include border-radius(0, 0, 0.5em, 0.5em);

	display: table;
	max-height: min-content;
}

.accordion__row--last.active > .accordion__panel {
	@include border-radius(0, 0, 0.5em, 0.5em);

	display: table;
	max-height: min-content;
}

.accordion__row--first.active > .accordion__panel {
	@include border-radius(0, 0, 0.5em, 0.5em);

	display: table;
	max-height: min-content;
}

.accordion__panel--border {
	padding: 1em;
	background: $transparent;
	border: 0;
	border-bottom: 0.05em solid $grey-dark;
	border-radius: 0;
}

.accordion__row--last.active > .accordion__panel--border {
	@extend .accordion__panel--border;
}

.accordion__row--first.active > .accordion__panel--border {
	@extend .accordion__panel--border;
}
.accordion__row--transparent,
.accordion__row--transparent-last,
.accordion__row--transparent-first {
	background: $transparent;
	border-radius: 0;
}

.accordion__group {
	padding: 1em;
	background: $black;
	border: 0.01em solid $transparent;
	border-radius: 0.25em;
}


/*Accordian styles*/

.accordion--border {
	@include border(0.05em solid $grey-dark, null, 0.05em solid $grey-dark, null);

	border-radius: 0;
	box-shadow: none;
}

.accordion--border.active {
	border-radius: 0;
	background: $transparent;
	box-shadow: none;
	border-top: 0.05em solid $grey-dark;
	border-bottom: 0;
}


/*creates a "screen-like" appearance on the inner panel of the
accordian panel*/
.accordion__innerPanel--teal-screen {
	background: linear-gradient(to right, $black 10%, $teal-medium 30%, $blue-highlight 50%, $teal-medium 65%, $black 100%);
}
