
@import "../Themes/_colors.scss";
@import "../Helpers/_mixins.scss";
@import "../Helpers/_variables.scss";

.alert {
	position: relative;
	display: flex;
	padding: 1em 0.5em;
	border-radius: 0.25em;
	background: $transparent-15-l;
	margin-top: 2em;
}


.alert--info {
	@extend .alert;

	display: flex;
	flex-direction: column;
	background: $teal-lowOpacity;
	border: 0.05em solid $grey-lowOpacity;
	border-left: 0.25em solid $teal;

	@media screen and (min-width: 420px) {
		flex-direction: row;
	}
}