
@import "../Helpers/_mixins.scss";
@import "../Themes/_colors.scss";

* {
	@include prefix(box-sizing, border-box);
	margin: 0;
}

.hero {
	position: relative;
	min-height: 15rem;
	max-height: 20rem;
	max-width: 100%;
	margin: auto;
	font-family: "Quicksand Regular";

	@include mediaQuery--custom(500px, $mq-desktop) {
		min-height: 20rem;
		max-height: 40rem;
	}

	@media screen and (min-width: $mq-desktop) {
		max-width: 70%;
		min-height: 30rem;
		max-height: 50rem;
	}
}

.hero .grid__container--3 {
	max-width: 100%;
	margin: 0;
}

.hero__description {
	@include size(100%);

	position: relative;
	margin-left: -0.25rem;
	border: 0.05rem groove $grey-light;
	box-shadow: 0.15rem 0.125rem 0.5rem $black-opaque;

}

.hero__description > .text--caption {
	@include abs-positioning(0.5rem, -0.65rem, -0.65rem, 0.5rem);

	padding: 0.5rem 1rem 0.5rem 0.65rem;
	background: $teal-dark-lowOpacity;
	border: 0.05rem groove $teal-dark;
	border-radius: 0.25rem;
	box-shadow: inset 0.05rem 0.05rem 0.5rem $grey-ultraDark;
	font-family: "Miriam Libre";
	line-height: $line-height;
	font-size: 0.95rem;
	opacity: 1;

	@include mediaQuery--custom(640px, $mq-tablet) {
		font-size: 1rem;
		line-height: 1.75rem;
	}

	@media screen and (min-width: $mq-tablet) {
		font-size: 1.15rem;
		line-height: 2rem;
	}
}

.hero__image {
	//@include background-image(url("./Themes/yellow_train.jpg"), 0em 0em, 100% 100%);

	z-index: 1;
}

.hero__wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	background: $black;
	box-shadow: inset 0 0 0.5em 0.015em $grey-blue-tint,
									  0.025em 0.025em 0.25em $grey-blue-tint;
	z-index: 2;
}

.hero__wrapper .hero__wrapper--overlap {
	@include abs-positioning(-1.5rem, 0, 0, 0);
}

.hero__wrapper--overlap {
	@include background-image(url("./Themes/dark-triangles.png"), 0 0, 50%);

	padding: 1.25em;
	padding-top: 1.5rem;
	color: $white;
	opacity: 0.85;
	z-index: 2;
}

.hero__wrapper--overlap--title {
	@extend .hero__wrapper--overlap;
	@include abs-positioning(-3.5rem, 0, 0, 0);	

	padding-top: 3rem;
}

.hero__wrapper--overlap--title .text__heading--hero {
	position: absolute; 
	top: 0.75rem;
}

.hero__wrapper--overlap.horizontal {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;	
}

.hero__wrapper--overlap.bottom {
	top: -0.5rem;
	opacity: 1;
}

.hero__wrapper--overlap.top {
	position: relative;
	left: 0;
	right: 0;
	top: -1.5rem;
}

.hero__wrapper--overlap.vertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero__wrapper--overlap-center {
	@extend .hero__wrapper--overlap;

	text-align: center;
	border-top: 0.3em solid $teal;
}

.hero__wrapper--overlap-left {
	@extend .hero__wrapper--overlap;

	text-align: left;
	border-left: 0.3em solid $teal;
	box-shadow: 0.05rem 0.025rem 0.75rem $black-opaque;
}

.hero__wrapper--overlap-right {
	@extend .hero__wrapper--overlap;
	
	text-align: right;
	border-rights: 0.3em solid $teal;
}

.hero__wrapper--half {
	@extend .hero__wrapper;

	max-width: 50%; 
}
