
@import "../Themes/_colors.scss";
@import "../Themes/_icons.scss"; 
@import "../Helpers/_mixins.scss";
@import "../Helpers/_variables.scss";

.navigationBar {
	/*Positioning*/
	position: fixed;
	left: 0;
	right: 0;
	top: 0.375em;

	/*Box Model*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	min-height: 4em;

	/*Visual*/
	font-family: "Quicksand Regular";
	background: $black;
	box-shadow: 0 0.05em 0.5em 0.05em $grey-dark;
	z-index: 2;
}

.navigationBar--column {
	@extend .navigationBar;

	flex-direction: column;
	align-items: center;
}

.navigationBar--state {
	position: relative;
	display: flex;
	flex: 1;
	align-items: center;
}

.navigationBar--state.left {
	margin-left: 1em;
	justify-content: flex-start;
}

.navigationBar--state.center {
	justify-content: center;
}

.navigationBar--state.right {
	margin-right: 0;
	justify-content: flex-end;
}

//Generates class names for flex 1-5 on navigationBar--state containers
@include navigationBar--state;

.navigationBar--state-5 {
	flex: 5;
}

.navigationBar--state.left .text__heading {
	flex: 2;
	font-size: 0.85em;

	@media screen and (min-width: $mq-tablet) {
		flex: 1;	
		font-size: 1em;	
	}
}

.navigationBar.ultraDark {
	background: $black-opaque;
}

.navigationBar__text--absolute {
	color: $white;
}

//navigation bar styles

.navigationBar--thin {
	@include prefix(background, linear-gradient(to bottom, $white 20%, $transparent-05-l 50%, $grey-lowOpacity 100%));

	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	height: 2.65em;
	width: 100%;
	background: $black-opaque;

	@media screen and (min-width: $mq-tablet) {
		min-height: 2.65em;
		max-width: 60em;
	}
}

.navigationBar--thin .navigationBar--state {
	height: 100%;
	padding: 0.5em 0;

	@include mediaQuery--custom (640px, $mq-tablet) {
		padding: 0.5em;		
	}
}

.navigationBar--thin .navigationBar--state.center {
	flex: 5;

	@include mediaQuery--custom (640px, $mq-tablet) {
		flex: 3;
	}
	@media screen and (min-width: $mq-tablet) {
		flex: 1;
	}
}

.navigationBar__component {
	display: flex;
	@include abs-positioning(0, 0, 0, 0);
	@include flex-alignnment(1, center, center);
}

.navigationBar__component .form__segment {
	display: none;

	@media screen and (min-width: $mq-tablet) {
		display: flex;
		flex-direction: row;
		position: relative;
		min-height: 1.5em;
		width: 80%;	
	}
}

.navigationBar__dropDown-item, 
.navigationBar__dropDown-sub-item {
	position: relative;
	flex: 1;
	display: flex;
	align-items: center;
	background: transparent;
	border-bottom: 0.01em solid $white;
	color: $white;
}

/*creates a left margin for the text for an indented appearance*/
.navigationBar__dropDown-item-text {
	position: absolute;
	left: 1em;
	font-size: 0.95em;
}

.navigationBar__dropDown-menu {
	display: none;
	position: absolute;
	flex-direction: column;
  min-height: 14em;
  min-width: 10em;
  background: $black;
  top: 2.7em;
  left: 0;
  border-top: 0.25em solid $teal;
}

/*creates a border to distinguish sub-menu item
from drop down item*/
.navigationBar__dropDown-sub-item {
	border-left: 0.01em solid $white;
}

.navigationBar__dropDown-sub-item:hover {
	background: $teal;
	box-shadow: inset 0 0 2em 0.25em $teal-dark;
}

.navigationBar__dropDown-sub-menu {
 	position: absolute;
  display: none;
  left: 10em;
  top: 0;
	min-height: 5.5em;
  min-width: 10em;
  background: $black;
}

.navigationBar__dropDown-item:hover .navigationBar__dropDown-sub-menu {
	display: flex;
	flex-direction: column;
}

/*create a variable for "hover" background color*/
.navigationBar__dropDown-item:hover {
	background: $teal;
	box-shadow: inset 0 0 2em 0.25em $teal-dark; 
}

.navigationBar__innerWrapper {
	position: fixed;
	display: flex;			

	left: 1vw;
	right: 1vw;
	top: 0.85em;
	max-height: 3em;

	border-radius: 0.5em;
	border-bottom: 0.25em solid $teal;
	box-shadow: inset 0 0.125em 1em 0.125em $charcoal;
}

.navigationBar__highlight {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	min-height: 0.375em;
	background: $teal;
}

.navigationBar__input-wrapper {
	@include prefix(transition, all 0.3s ease-in-out);

	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	max-height: 0;
	border-top: 0.05rem solid $grey-dark;
} 

.navigationBar__input-wrapper.active {
	max-height: 3rem;
}

.navigationBar__menu {

	display: flex;
	flex: 1;
	min-height: 2.7em;

	@include mediaQuery--tablet {
		padding: 0 2em;
	}
	@include mediaQuery--desktop {
		padding: 0 3em;
	}
	@include mediaQuery--wide {
		padding: 0 4em;
	}	
}

.navigationBar__menu-item {

	display: none;

  @media screen and (min-width: $mq-tablet) {
  @include flex-alignnment(1, center, center);
	
	position: relative;
	display: flex;
	max-height: 2.7em;

	border-left: 0.05em solid $charcoal;
	color: $white;
	transition: 0.3s;
  
  }	

  @include mediaQuery--tablet {
		@for $i from 1 through 4 {
			&:nth-child(#{$i})::after {
				content: "#{$i}";
				font-size: 0.95em;
			}
		}
	}

	@include mediaQuery--desktop {
		@for $i from 1 through 4 {
			&:nth-child(#{$i})::after {
				content: "Item " + "#{$i}";
				font-size: 1em;
			}
		}	
	}

	@include mediaQuery--wide {
		@for $i from 1 through 4 {
			&:nth-child(#{$i})::after {
				content: "Item " + "#{$i}";
				font-size: 1.025em;
			}
		}	
	}

}

.navigationBar__menu-item:hover .navigationBar__dropDown-menu {
	display: flex;
}

.navigationBar__menu-item .triangle--right-black.left {
	left: 0;
}

.navigationBar__menu-item--start {
	border-left: 0;
}


.navigationBar__menu-item:active,
.navigationBar__menu-item--start:active,
.navigationBar__menu-item:hover,
.navigationBar__menu-item--start:hover {
	background: $teal;
	box-shadow: inset 0 0 2em 0.25em $teal-dark;
	border-left-color: $black;
	cursor: pointer;
};

/*Navigation bar styles*/

.navigationBar__icon-menu--thin {
	@include prefix(transition, 0.3s all ease-in-out);

	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 20em;
	min-width: 2.5em;
}

.navigationBar__icon-menu--thin input[type="text"] {
	padding: 0.25em;
	max-width: 0;
	border: 0;
	border-radius: 0.25em;
}

.navigationBar__icon-menu--thin.active input[type="text"] {
	border: 0.1em solid $grey;
	max-width: 20em;
}

.navigationBar__icon-menu--thin .form__input-segment {
	display: none;

	@media screen and (min-width: $mq-tablet) {
		display: block;
	}
}

.navigationBar__icon-menu--thin .icon__search {
	display: none;
	color: $white;

	@media screen and (min-width: $mq-tablet) {
		display: block;	
	}
}

.navigationBar__icon-menu--thin.active {
	max-width: 65em;
	min-width: 100%;
}

.navigationBar__icon-menu--thin.active .icon__search {
	border-right: 0;
}

.navigationBar__icon-menu--thin.active .icon__search:hover {
	background: $transparent;
	border-radius: 0;
	box-shadow: none;
}

.navigationBar__icon-menu--thin .form__input-segment {
	max-width: 0;
}	

.navigationBar__icon-menu--thin.active .form__input-segment {
	max-width: 40em;
}

.navigationBar__menu--thin {
	position: relative;
	display: flex;
	min-height: 1.5em;
	width: 100%;
	background: $grey-dark;
	font-family: "Quicksand Light";
}

.navigationBar__menu--thin-left {
	position: relative;
	margin-top: -0.05em;
	display: flex;
	flex-direction: row;
	min-width: calc((1/3) * 100%);
}

.navigationBar__menu-item--thin {
	@include prefix(transition, background 0.3s, transform 0.15s ease-in-out);
	@include flex-alignnment(1, center, center);
	
	position: relative;
	display: flex;
	align-self: center;
	max-height: 1.25em;
	color: $white;

	@for $i from 1 through 4 {
		&:nth-child(#{$i})::after {
			content: "#{$i}";
			font-size: 0.95em;
		}
	}

	@media screen and (min-width: 640px) {

		@for $i from 1 through 4 {
			&:nth-child(#{$i})::after {
				content: "Item " + "#{$i}";
				font-size: 0.95em;
			}
		}
	}
}

.navigationBar__menu-item--thin:hover {
	@include border(null, 0.05em solid $charcoal, null, 0.05em solid $charcoal);

	background: $transparent-15-l;
	cursor: pointer;
	transform: scale(1.15, 1.15);
	opacity: 0.85;
}

.navigationBar__menu-item--thin.first {
	border-left: 0;
}

.navigationBar__menu-item--thin.first:hover {
	@include border(null, 0.05em solid $charcoal, null, 0.05em solid $charcoal);
}



/*BOTTOM NAVIGATION FOR MOBILE AND TABLET VIEW*/


/*acts as a container for items inside the bottom navigation bar*/
.navigationBar--bottom {
	@include fixed-positioning(null, 0, 0, 0);

	display: flex;
	flex-direction: row;
	min-height: 3em;

	background: $black;
	box-shadow: 0 -0.05em 0.5em 0.05em $grey-dark;

	@media screen and (min-width: $mq-desktop) {
		display: none;
	}
}

.navigationBar__highlight--bottom {
	@include abs-positioning(null, 0, 0, 0);	

	background-color: $teal;
	min-height: 0.375em;
}

