<!DOCTYPE html>
<html>
	<head>
		<title>Grid Templates</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="../../reset.css" rel="stylesheet" type="text/css"/>
		<link href="../main.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	</head>
	<body>
		<nav class="navigationBar inverted clearfix">
			<div class="navigationBar__highlight"></div>
			<div class="navigationBar--thin">
				<div class="navigationBar--state left">
					<button class="icon__search icon__wrapper first">
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
				</div>
				<div class="navigationBar--state-3 navigationBar--state center">
					<div class="text__heading--outline-cap">
						Responsive Grid Layout
					</div>
					<div class="navigationBar__menu--nested">
						
					</div>
				</div>
				<div class="navigationBar--state right">
					<div class="navigationBar__icon-menu--thin">
						<button class="icon__search icon__wrapper">
							<i class="fa fa-search" aria-hidden="true"></i>
						</button>
						<div class="form__input-segment">
							<input type="text" class="form__input--no-border" placeholder="search">
						</div>	
						<div class="icon__wrapper--home">
							<a href="#" class="icon__home">
								<i class="fa fa-home" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="navigationBar__menu--thin">
				<div class="navigationBar__menu--thin-left">
					<div class="navigationBar__menu-item--thin first">
					</div>
					<div class="navigationBar__menu-item--thin">
					</div>
					<div class="navigationBar__menu-item--thin">
					</div>
					<div class="navigationBar__menu-item--thin">
					</div>
				</div>
			</div>
		</nav>

		<div class="main--background">
			<div class="grid__container--responsive-semantic grid">
				<div class="grid__header--responsive-semantic">
					<div class="hero">
						<div class="hero__image"></div>
						<div class="hero__title--overlap-center">
							<div class="text--hero">
								GRID LAYOUT
							</div>
							<div class="hero__description">
								<div class="text--caption black">
									Experience the responsiveness of this basic grid layout
									as the grid areas adjust to the size of the window to deliver aesthetically pleasing layouts on any size screen.
								</div>
							</div>
						</div>
					</div>
				</div>

				<main class="grid__main--responsive-semantic">
					<div class="main--full">
						<div class="content-switcher-- content-switcher">
						
						<div class="main__wrapper transparent">
							<div class="main__section top">
								<div class="main__sectionHeading transparent">
									<div class="main__sectionHeading-icon">
										<div class="main__sectionHeading-icon--medium">
											<div class="main__sectionHeading-icon--small">
												<div class="main__sectionHeading-icon--x-small"></div>
											</div>
										</div>
									</div>
									<div class="main__sectionHeading-text">Responsive grid</div>
									<div class="example__module--right">
										<div class="main__sectionHeading-expander-icon-heading">VIEW CODE</div>
										<button class="main__sectionHeading-expander-icon button">
											<div class="icon__code--left"></div>
											<div class="icon__code--right"></div>
										</button>
									</div>
								</div>
							</div>
						</div>

						<div class="grid__gap--1 grid__container--auto-fill grid">

							<div class="main__section">
								<div class="media">
									<div class="media__innerWrapper">
										<div class="media__image-wrapper--5"> 
											<img src="../Themes/fog__stockImage.jpg" src="Media image" height="75%" width="100%">
										</div>
										<div class="media__description--no-border">
											<div class="media__heading-group">
												<div class="media__heading--small">Media Object</div>
											</div>
											<div class="media__description-text">
												This is a standard media object. When placed within a responsive grid layout, each column that contains the media object will expand or collapse based on media query breakpoints.
											</div>
										</div>	
									</div>		
								</div>
							</div>

							<div class="main__section">
								<div class="media">
									<div class="media__innerWrapper">
										<div class="media__image-wrapper--5"> 
											<img src="../Themes/fog__stockImage.jpg" src="Media image" height="75%" width="100%">
										</div>
										<div class="media__description--no-border">
											<div class="media__heading-group">
												<div class="media__heading--small">Media Object</div>
											</div>
											<div class="media__description-text">
												This is a standard media object. When placed within a responsive grid layout, each column that contains the media object will expand or collapse based on media query breakpoints.
											</div>
										</div>	
									</div>		
								</div>
							</div>

							<div class="main__section">
								<div class="media">
									<div class="media__innerWrapper">
										<div class="media__image-wrapper--5"> 
											<img src="../Themes/fog__stockImage.jpg" src="Media image" height="75%" width="100%">
											<!--<div class="media__image-transparent-overlay"></div>-->
										</div>
										<div class="media__description--no-border">
											<div class="media__heading-group">
												<div class="media__heading--small">Media Object</div>
											</div>
											<div class="media__description-text">
												This is a standard media object. When placed within a responsive grid layout, each column that contains the media object will expand or collapse based on media query breakpoints.
											</div>
										</div>	
									</div>		
								</div>
							</div>

							<div class="main__section">
								<div class="media">
									<div class="media__innerWrapper">
										<div class="media__image-wrapper--5"> 
											<img src="../Themes/fog__stockImage.jpg" src="Media image" height="75%" width="100%">
										</div>
										<div class="media__description--no-border">
											<div class="media__heading-group">
												<div class="media__heading--small">Media Object</div>
											</div>
											<div class="media__description-text">
												This is a standard media object. When placed within a responsive grid layout, each column that contains the media object will expand or collapse based on media query breakpoints.
											</div>
										</div>	
									</div>		
								</div>
							</div>
						</div>
					</div>

				</main>

				<aside class="grid__aside--responsive-semantic">	
				</aside>
				<nav class="grid__navigation--responsive-semantic">	
				<div class="menu">
					<div class="menu__heading">Menu</div>
					<div class="menu__dropDown">
						<div class="menu__item">
							<a class="text__link">Link one</a>
							<div class="menu__expander-icon triangle--left-black--small"></div>
						</div>	
						<div class="menu__dropDown-content">
							<div class="menu__dropDown-item">
								<a class="text__link">Link one</a>
							</div>
							<div class="menu__dropDown-item">
								<a class="text__link">Link two</a>
							</div>
							<div class="menu__dropDown-item">
								<a class="text__link">Link three</a>
							</div>
						</div>
					</div>
					<div class="menu__dropDown">
						<div class="menu__item">
							<a class="text__link">Link two</a>
							<div class="menu__expander-icon triangle--left-black--small"></div>
						</div>
						<div class="menu__dropDown-content">
							<div class="menu__dropDown-item">
								<a class="text__link">Link one</a>
							</div>
							<div class="menu__dropDown-item">
								<a class="text__link">Link two</a>
							</div>
							<div class="menu__dropDown-item">
								<a class="text__link">Link three</a>
							</div>
						</div>
					</div>	
				</div>	
				</nav>
				<footer class="grid__footer--responsive-semantic">	
				</footer>
			</div>
		</div>

		<script src="../../myStyleGuide.js" type="text/javascript"></script>
	</body>
</html>