<!DOCTYPE html>
<html>
	<head>
		<title>Grid Templates</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="../../reset.css" rel="stylesheet" type="text/css"/>
		<link href="../main.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	</head>
	<body>
		<nav class="navigationBar--column ultraDark clearfix">
			<div class="navigationBar__highlight"></div>
			<div class="navigationBar--thin">
				<div class="navigationBar--state left">
					<div class="icon__wrapper--home">
						<a href="#" class="icon__home">
							<i class="fa fa-home" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<div class="navigationBar--state center">
					<div class="text__heading--outline-cap">
						Responsive Grid Layout
					</div>
					<div class="navigationBar__menu--nested">
						
					</div>
				</div>
				<div class="navigationBar--state right">
					<div class="navigationBar__icon-menu--thin">
						<button class="icon__envelope icon__wrapper icon">
							<i class="fa fa-envelope-o" aria-hidden="true"></i>
						</button>
						<button class="icon__search icon__wrapper icon">
							<i class="fa fa-search" aria-hidden="true"></i>
						</button>
						<button class="icon__ellipsis icon__wrapper last icon">
							<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
						</button>
						<!-- drop-down menu under nav-menu--thin-->
					</div>
				</div>
			</div>
			<div class="navigationBar__input-wrapper">
				<div class="form__input-segment">
					<input type="text" placeholder="search">
				</div>
			</div>
			<div class="navigationBar__menu--thin">
				<div class="navigationBar__menu--thin-left">
					<div class="navigationBar__menu-item--thin first">
					</div>
					<div class="navigationBar__menu-item--thin">
					</div>
					<div class="navigationBar__menu-item--thin">
					</div>
					<div class="navigationBar__menu-item--thin">
					</div>
				</div>
			</div>
			<div class="menu__dropDown-positioning">
				<div class="menu__dropDown--absolute--thin--right menu__dropDown--absolute">
					<div class="menu__dropDown-content">
						<div class="menu__dropDown-item">Help</div>
						<div class="menu__dropDown-item">Info</div>
						<div class="menu__dropDown-item">Settings</div>
						</div>	
					</div>	
				</div>
			</div>
		</nav>

		
		<div class="main__body-wrapper">
			<div class="grid__container--responsive-semantic grid">
				<div class="grid__header--responsive-semantic">
					<div class="breadcrumb__wrapper">
						<div class="breadcrumb--bordered breadcrumb">
							<a class="breadcrumb__link">Home</a>
							<div class="breadcrumb__divider"> / </div>
							<a class="breadcrumb__link">Components</a>
							<div class="breadcrumb__divider"> / </div>
							<a class="breadcrumb__link--active breadcrumb__link">Accordion</a>
						</div>
					</div>
					<div class="hero grid__container--3 grid">
						<div class="hero__wrapper--overlap-left grid__template--rows-1-12 grid__template--columns-1-6 container__max-height--6 horizontal top">
							<div class="text__heading--hero">
								GRID LAYOUT
							</div>
							<div class="button__wrapper button__next">
								<button class="button">
									<div class="text--thin text--hero">Next Post</div>
									<div class="arrow--right-white"></div>
								</button>
							</div>
						</div>
						<div class="hero__image grid__template--rows-1-6 grid__template--columns-1-6">
							<img src="../Themes/yellow_train.jpg" alt="Yellow train in Japan" height="100%" width="100%"/>
						</div>
						<div class="hero__wrapper--overlap-left grid__template--rows-span1-4 grid__template--columns-1-6">
							<div class="hero__description">
								<div class="text--caption">
									Experience the responsiveness of this basic grid layout
									as the grid areas adjust to the size of the window to deliver aesthetically pleasing layouts on any size screen.
								</div>
							</div>
						</div>
						<div class="hero__image grid__template--rows-1-6 grid__template--columns-span1-3">
							<img src="../Themes/snowy_road.jpg" alt="Snowy road during the winter" height="100%" width="100%"/>
						</div>
						<div class="hero__image grid__template--rows-span1-3 grid__template--columns-span1-3">
							<img src="../Themes/crater_lake.jpg" alt="Stars above Crater Lake" height="100%" width="100%"/>
						</div>
					</div>
				</div>

				<main class="grid__main--responsive-semantic">
					<div class="main--full">
						<div class="main--background">
							<div class="content-switcher-- content-switcher"></div>
							<div class="main__wrapper transparent">
								<div class="main__section top">
									<div class="main__sectionHeading transparent">
										<div class="main__sectionHeading-text">Responsive grid</div>
										<div class="main__sectionHeading-keyword-text">Section I</div>
									</div>
								</div>
							</div>

							<div class="grid__gap--1 grid__container--auto-fill grid">

								<div class="main__section">
									<div class="media__innerWrapper">
										<div class="media--vertical">
											<div class="media__icon-bar">
												<div class="icon__wrapper--clock">
													<i class="fa fa-clock-o" aria-hidden="true"></i>
												</div>
												<div class="media__date text--italicized"></div>
												<div class="media__icon icon__wrapper">
													<i class="icon--large icon__facebook fa fa-facebook-official" aria-hidden="true"></i>
												</div>
												<div class="media__icon icon__wrapper">
													<i class="icon--large icon__twitter fa fa-twitter" aria-hidden="true"></i>
												</div>
												<div class="media__icon icon__wrapper">
													<i class="icon--large icon__pinterest fa fa-pinterest" aria-hidden="true"></i>
												</div>
												<div class="media__icon icon__wrapper">
													<i class="icon--large icon__linkedin fa fa-linkedin-square" aria-hidden="true"></i>
												</div>
											</div>
											<div class="triangle__page-corner--left"></div>
											<div class="media__section">
												<div class="media__image-wrapper--6"> 
													<img src="../Themes/fog__stockImage.jpg" src="Media image" height="100%" width="100%">
												</div>
												<div class="media__heading-group--column">
													<div class="media__heading-identifier"></div>
													<div class="media__heading--small inverted">Topic</div>
													<div class="media__heading">Media Object with Image</div>
												</div>
											</div>
											<div class="media__description--no-border">
												<div class="media__description-text">
													This is a standard media object. When placed within a responsive grid layout, each column that contains the media object will expand or collapse based on media query breakpoints.
												</div>
											</div>	
										</div>		
									</div>
								</div>

								<div class="main__section">
									<div class="media__innerWrapper">
										<div class="media--vertical">
											<div class="media__icon-bar">
												<div class="icon__wrapper--clock">
													<i class="fa fa-clock-o" aria-hidden="true"></i>
												</div>
												<div class="media__date text--italicized"></div>
												<div class="media__icon icon__wrapper">
													<i class="icon--large icon__facebook fa fa-facebook-official" aria-hidden="true"></i>
												</div>
												<div class="media__icon icon__wrapper">
													<i class="icon--large icon__twitter fa fa-twitter" aria-hidden="true"></i>
												</div>
												<div class="media__icon icon__wrapper">
													<i class="icon--large icon__pinterest fa fa-pinterest" aria-hidden="true"></i>
												</div>
												<div class="media__icon icon__wrapper">
													<i class="icon--large icon__linkedin fa fa-linkedin-square" aria-hidden="true"></i>
												</div>
											</div>
											<div class="triangle__page-corner--left"></div>
											<div class="media__section">
												<div class="media__image-wrapper--6"> 
													<img src="../Themes/fog__stockImage.jpg" src="Media image" height="100%" width="100%">
												</div>
												<div class="media__heading-group--column">
													<div class="media__heading-identifier"></div>
													<div class="media__heading--small inverted">Topic</div>
													<div class="media__heading">Media Object with Image</div>
												</div>
											</div>
											<div class="media__description--no-border">
												<div class="media__description-text">
													This is a standard media object. When placed within a responsive grid layout, each column that contains the media object will expand or collapse based on media query breakpoints.
												</div>
											</div>	
										</div>		
									</div>
								</div>

								<div class="main__section">
									<div class="media__innerWrapper">
										<div class="media--vertical">
											<div class="media__icon-bar">
												<div class="icon__wrapper--clock">
													<i class="fa fa-clock-o" aria-hidden="true"></i>
												</div>
												<div class="media__date text--italicized"></div>
												<div class="media__icon icon__wrapper">
													<i class="icon--large icon__facebook fa fa-facebook-official" aria-hidden="true"></i>
												</div>
												<div class="media__icon icon__wrapper">
													<i class="icon--large icon__twitter fa fa-twitter" aria-hidden="true"></i>
												</div>
												<div class="media__icon icon__wrapper">
													<i class="icon--large icon__pinterest fa fa-pinterest" aria-hidden="true"></i>
												</div>
												<div class="media__icon icon__wrapper">
													<i class="icon--large icon__linkedin fa fa-linkedin-square" aria-hidden="true"></i>
												</div>
											</div>
											<div class="triangle__page-corner--left"></div>
											<div class="media__section">
												<div class="media__image-wrapper--6"> 
													<img src="../Themes/fog__stockImage.jpg" src="Media image" height="100%" width="100%">
													<!--<div class="media__image-transparent-overlay"></div>-->
												</div>
												<div class="media__heading-group--column">
													<div class="media__heading-identifier"></div>
													<div class="media__heading--small inverted">Topic</div>
													<div class="media__heading">Media Object with Image</div>
												</div>
											</div>
											<div class="media__description--no-border">
												<div class="media__description-text">
													This is a standard media object. When placed within a responsive grid layout, each column that contains the media object will expand or collapse based on media query breakpoints.
												</div>
											</div>	
										</div>		
									</div>
								</div>

								<div class="main__section">
									<div class="media__innerWrapper">
										<div class="media--vertical">
											<div class="media__icon-bar">
												<div class="icon__wrapper">
													<i class="fa fa-clock-o" aria-hidden="true"></i>
												</div>
												<div class="media__date text--italicized"></div>
												<div class="media__icon icon__wrapper">
													<i class="icon--large icon__facebook fa fa-facebook-official" aria-hidden="true"></i>
												</div>
												<div class="media__icon icon__wrapper">
													<i class="icon--large icon__twitter fa fa-twitter" aria-hidden="true"></i>
												</div>
												<div class="media__icon icon__wrapper">
													<i class="icon--large icon__pinterest fa fa-pinterest" aria-hidden="true"></i>
												</div>
												<div class="media__icon icon__wrapper">
													<i class="icon--largeicon__linkedin fa fa-linkedin-square" aria-hidden="true"></i>
												</div>
											</div>
											<div class="triangle__page-corner--left"></div>
											<div class="media__section">
												<div class="media__image-wrapper--6"> 
													<img src="../Themes/fog__stockImage.jpg" src="Media image" height="100%" width="100%">
												</div>
												<div class="media__heading-group--column">
													<div class="media__heading-identifier"></div>
													<div class="media__heading--small inverted">Topic</div>
													<div class="media__heading">Media Object with Image</div>
												</div>
											</div>
											<div class="media__description--no-border">
												<div class="media__description-text">
													This is a standard media object. When placed within a responsive grid layout, each column that contains the media object will expand or collapse based on media query breakpoints.
												</div>
											</div>
										</div>	
									</div>		
								</div>
							</div>
						</div>
					</div>

				</main>

				<aside class="grid__aside--responsive-semantic">	
				</aside>
				<nav class="grid__navigation--responsive-semantic">	
					<div class="menu">
						<div class="menu__heading">Menu</div>
						<div class="menu__dropDown">
							<div class="menu__item">
								<a class="text__link">Link one</a>
								<div class="menu__expander-icon triangle--left-black--small"></div>
							</div>	
							<div class="menu__dropDown-content">
								<div class="menu__dropDown-item">
									<a class="text__link">Link one</a>
								</div>
								<div class="menu__dropDown-item">
									<a class="text__link">Link two</a>
								</div>
								<div class="menu__dropDown-item">
									<a class="text__link">Link three</a>
								</div>
							</div>
						</div>
						<div class="menu__dropDown">
							<div class="menu__item">
								<a class="text__link">Link two</a>
								<div class="menu__expander-icon triangle--left-black--small"></div>
							</div>
							<div class="menu__dropDown-content">
								<div class="menu__dropDown-item">
									<a class="text__link">Link one</a>
								</div>
								<div class="menu__dropDown-item">
									<a class="text__link">Link two</a>
								</div>
								<div class="menu__dropDown-item">
									<a class="text__link">Link three</a>
								</div>
							</div>
						</div>	
					</div>	
				</nav>
				<footer class="grid__footer--responsive-semantic">	
				</footer>
			</div>
		</div>
		<script src="../../myStyleGuide.js" type="text/javascript"></script>
	</body>
</html>