/*Transparent colors*/

$transparent: transparent;
/*transparency most visible on dark surfaces*/
$transparent-05-d: rgba(255, 255, 255, 0.05);
$transparent-15-d: rgba(255, 255, 255, 0.15); 
$transparent-25-d: rgba(255, 255, 255, 0.25); 

/*transparency most visible on light surfaces*/
$transparent-05-l: rgba(0, 0, 0, 0.05);
$transparent-15-l: rgba(0, 0, 0, 0.15); 
$transparent-25-l: rgba(0, 0, 0, 0.25); 
$transparent-50-l: rgba(0, 0, 0, 0.50);

/*Basic colors*/

$black: #000;
$black-opaque: #212121;
$white: #FFF;
$grey: #8C8C8C;
$grey-blue-tint: #677790;
$grey-dark: #4E4E4E;
$grey-light: #A0A0A0;
$grey-teal-tint: #8BA4A3;
$grey-ultraDark: #3D3D3D;
$grey-ultraLight: #C7C7C7;
$grey-lowOpacity: #E6E6E6;
$charcoal: #3C3939;
$red: #F00;
$red-pinterest: #DC143C;

/*Tertiary color scheme for main color theme*/

$green-light: #9BF1A1;
$green-lowOpacity: #DEF9EE;
$green-neon: #26CE31;
$green: #00920A;
$green-dark: #005506;
$green-ultraDark: #004205;
$wintergreen-light: #BEE4DB;
$teal: #3CB3B9;
$teal-dark: #23585A;
$teal-green-tint: #1F9EA4;
$teal-lowOpacity: rgba(60, 179, 185, 0.15);
$teal-dark-lowOpacity: rgba(35, 88, 90, 0.15);
$teal-medium: #4BA7AB;
$teal-neon: #70E4E4;
$blue-dark: #133A9C;
$blue-highlight: #B0F0FF;
$blue-linkedin: #0077B5;
$blue-facebook: #3B5998;
$blue-twitter: #0084B4;

/*Button preset colors*/
$button: $transparent;


/*include box-shadow mixin to create preset box-shadow colored themes
$teal-box-shadow: //code here
*/

