/*Basic colors*/

$transparent: transparent;
$black: #000;
$white: #FFF;
$grey: #8C8C8C;
$grey-dark: #4E4E4E;
$charcoal: #3C3939;
$black-opaque: #212121;
$red: #F00;

/*Tertiary color scheme for main color theme*/

$green-neon: #26CE31;
$teal: #3CB3B9;
$teal-dark: #4BA7AB;
$dark-teal: #23585A;


/*Button preset colors*/
$button: $transparent;


/*include box-shadow mixin to create preset box-shadow colored themes
$teal-box-shadow: //code here
*/

