
@import "../Helpers/_mixins.scss";
@import "../Helpers/_variables.scss";
@import "./_colors.scss";

.text__border {
	border: 0.05em outset $white; 
	border-radius: 0 0.5em;
	box-shadow: inset 0 -0.125em 0.75em 0.0175em $teal-medium, 
							inset 0 -0.125em 0.25em $white,
							inset 0 -0.25em 0.5em $green-neon,
							inset 0 -0.25em 1em $red;
}

.text__wrapper {
	@include padding(0, 0.5em, 0, 1.5em);

	display: flex;
	flex-direction: row;
	position: absolute;
}

.text__group--alert-info {
	@include size(100%);

	float: right;

	@media screen and (min-width: 420px) {
		@include size(90%, 100%);
	}
}


//margin-left used to offset gap for last letter of heading due to letter-spacing
.text__heading {
	@include letter-spacing(0.1em);
	@include padding(0, 0.5em, 0, 0.55em);

	color: $white;
	line-height: $line-height;
	font-size:	$heading;
	font-weight: $bold;
	margin-left: -0.1em;
	font-family: "Quicksand Regular";
}

.text__heading.black {
	color: $black;
}

.text__heading--alert {
	margin-bottom: 0.5em;
	color: $teal-dark;
	font-family: "Quicksand Regular";
	font-size: 1.25em;
	font-weight: $bold;
}

.text__heading-group {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-items: center;
}

.text__heading--outline-cap {
	font-family: "Lulo Clean Outline Bold";
	font-size: 0.95em;
	color: $black;
	text-align: center;

	@include mediaQuery--custom(531px, $mq-tablet) {
		font-size: 1em;
	}

	@include mediaQuery--tablet {
		font-size: 1.15em;
	}

	@media screen and (min-width: $mq-desktop) {
		font-size: 1.25em;	
	}
}



//text for the heading of a section within the main body
.text__heading--main {
	@extend .text__heading;

	position: absolute;
	top: 2.25em;
	padding: 0;
	font-family: "Quicksand Regular";
	font-size: $main-heading;
	color: $white;
}

.text__headingLabel {
	
}

.text__headingLabel--main {
	position: absolute;
	top: 3em;
	padding-top: 0.5em;
	width: 4em;
	font-family: "Quicksand Light";
	border-top: 0.25em solid $teal;
	color: $white;

}

.text__heading--nav {
	@extend .text__heading;
	font-size: $nav-heading-mb;

	@media screen and (min-width: $mq-tablet) {
		font-size:	$nav-heading;
		font-weight: normal;
	}
}

.text__heading--nav.left {
	@include margin-side("left", 0.25em);
}

.text__heading--nav.right {
	@include margin-side("right", 0.5em);
}

.text__label {
	position: relative;
	padding-bottom: 0.5em;
	font-family: "Quicksand Light"; 
	font-size: 0.925em;
}

.text__link {
	text-decoration: none;
	font-family: "Quicksand Light"; 
	font-size: 0.925em;	
}

.text__link:hover {
	cursor: pointer;
	opacity: 0.75;
}

.text__link:visited {
	color: $white;
}

.text__link-wrapper {
	padding: 0.5em;
}

.text--bold {
	font-weight: $bold;
}

.text--alert {
	font-family: "Quicksand Regular";
	font-size: 1em;
	font-weight: 400;
	line-height: $line-height;
}

.text--caption {
	padding: 0.5em;
	font-family: "Quicksand Regular";
	line-height: $line-height;
	opacity: 0.75;
	font-size: 0.95em;
}

.text--caption.black {
	color: $black;
}

.text--code {
	padding: 0.125em 0.25em;
	background: $teal-green-tint;
	border-radius: 0.125em;
	box-shadow: inset 0 0.05em 0.5em $teal;
	color: $white;
	font-weight: $bold;
}

.text--hero {
	font-size: 1.5em;
	opacity: 0.75;
	text-shadow: 0.05em 0.025em 0.15em $grey-teal-tint;

	@include mediaQuery--custom(600px, 640px) {
		font-size: 2em;
	}

	@media screen and (min-width: 640px) {
		font-size: 2.5em;
	}
}

.text--italicized {
	font-style: italic;
}

.text--responsive {

	counter-increment: 1;
	position: relative;
	font-size: 0.95em;

}	 

//	font-size: calc({slope}*100vw + {y-intercept}px)


@font-face {
	font-family: "Lulo Clean Outline Bold";
	src: url("../luloclean_outlinebold_macroman/LuloCleanOutlineBold-webfont.woff2") format("woff2");
}

@font-face {
	font-family: "Miriam Libre";
	src: url("../Miriam_Libre/MiriamLibre-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Quicksand Bold";
	src: url("../Quicksand/Quicksand-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Quicksand Light";
	src: url("../Quicksand/Quicksand-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Quicksand Medium";
	src: url("../Quicksand/Quicksand-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Quicksand Regular";
	src: url("../Quicksand/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Inconsolata Bold";
	src: url("../Inconsolata/Inconsolata-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Inconsolata Regular";
	src: url("../Inconsolata/Inconsolata-Regular.ttf") format("truetype");
}