/*GLOBAL HELPERS*/


/*Variables for font-size and line-height*/

$line-height: 1.5em;
$main-heading: 2.25em;
$nav-heading: 1.5em;
$nav-heading-mb: 1.25em;
$heading: 1em;
$bold: 600;

/*used with display property to hide content*/
$hidden: none;

/*Media query breakpoint widths*/

$mq-mobile: 320px;
$mq-tablet: 768px;
$mq-desktop: 1024px;
$mq-wide: 1536px;


