@import "../Helpers/_mixins.scss";
@import "../Helpers/_variables.scss";
@import "../Themes/_colors.scss";
@import "../Themes/_typography.scss";

/*Input styling*/

input[type="text"] {

	@include size(90%, 2em);
	@include padding(0, 1em, 0, 1em);
	@include border-radius(0.5em, 0, 0, 0.5em);

	background: $transparent;
	border: 0.1em solid $grey;
	color: $white;
	font-family: "Quicksand Light";
	outline: none;
}


input[type="text"].form__input--no-border {
	@include border(0, 0, 0.01em solid $charcoal, 0);
}

.form__segment {
	
	display: none;

	@media screen and (min-width: $mq-tablet) {

	display: flex;
	flex-direction: row;
	position: relative;
	min-height: 1.5em;
	width: 80%;	
	}
}
