
@import "../Helpers/_mixins.scss";
@import "../Helpers/_variables.scss";
@import "../Themes/_colors.scss";
@import "../Themes/_typography.scss";

.menu {
	@include abs-positioning(0, 0, 0, 0);

	display: block;
	padding: 1em;
	font-family: "Quicksand Light";
}

.menu__item {
	@include border(0.05em solid $grey-ultraLight, null, 0.05em solid $grey-ultraLight, null);

	position: relative;
	display: flex;
	align-items: center;
	padding: 0.25em 0;
	margin-bottom: 0.5em;
	font-size: 1.125em;
	font-weight: $bold;
	line-height: $line-height;
}

.menu__heading {
	margin-bottom: 0.5em;
	line-height: 1.15em;
	font-family: "Quicksand Regular";
	font-size: 1.15em;
	font-weight: 600;
}

.menu__expander-icon {
	cursor: pointer;
	right: 0;
	top: 0.925em;
}