
@import "../Helpers/_mixins.scss";
@import "../Helpers/_variables.scss";
@import "../Themes/_colors.scss";

.menu {
	@include abs-positioning(0, 0, 0, 0);

	display: block;
	padding: 1em;
	font-family: "Quicksand Light";
}

.menu__item {
	@include prefix(transition, all 0.15s ease-in-out);
	@include border(0.05em solid $grey-ultraLight, null, 0.05em solid $grey-ultraLight, null);

	position: relative;
	display: flex;
	align-items: center;
	padding: 0.25em;
	margin-bottom: 0.5em;
	font-size: 1.125em;
	font-weight: $bold;
	line-height: $line-height;
}

.menu__item.active {
	background: $transparent-15-d;
}

.menu__item.active .menu__expander-icon {
	@include prefix(transform, rotate(-90deg));
}

.menu__dropDown {
	margin-bottom: 0.75em;
}

.menu__dropDown-content {
	@include prefix(transition, all 0.3s ease-in-out);

	display: block;
	max-height: 0;
	line-height: $line-height;
}

.menu__dropDown-content.show {
	max-height: 20em;
}

.menu__dropDown-content.show  .menu__dropDown-item {
	display: block;
	opacity: 1;
	visibility: visible;
}

.menu__dropDown-item {
	@include prefix(transition, all 0.3s ease-in-out);

	display: none;
	padding: 0.25em;
	opacity: 0;
	visibility: hidden;
}

.menu__heading {
	margin-bottom: 0.5em;
	line-height: 1.15em;
	font-family: "Quicksand Regular";
	font-size: 1.15em;
	font-weight: 600;
}

.menu__expander-icon {
	@include prefix(transition, all 0.15s ease-in-out);

	padding: 0.025em;
	cursor: pointer;
	right: 0.5em;
	top: 0.9em;
}