/*INCLUDE POSITIONING STATIC DIMENSIONS OF MODULES*/

@import "../Themes/_colors.scss";
@import "../Themes/_typography.scss";

/*colors(include color variables from colors file)*/

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;	
					box-sizing: border-box;
}

.navigationBar {
	/*Positioning*/
	position: fixed;
	left: 0;
	right: 0;
	top: 0.375em;

	/*Box Model*/
	display: flex;
	flex-direction: row;
	min-height: 4em;

	/*Visual*/
	font-family: "Quicksand Regular";
	background: $black;
	box-shadow: 0 0.05em 0.5em 0.05em $grey-dark;
	z-index: 2;
}

.navigationBar--state {
	position: relative;
	flex: 1;
	display: flex;
}

.navigationBar__text--absolute {
	color: $white;
}